astmonkey==0.3.6
bytecode==0.15.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
commonmark==0.9.1
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
hugchat==0.4.2
idna==3.7
iniconfig==2.0.0
jellyfish==0.11.2
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
MutPy-Pynguin==0.7.1
mypy-extensions==1.0.0
networkx==2.8.8
numpy==1.26.4
ordered-set==4.1.0
packaging==24.0
pillow==10.3.0
pluggy==1.5.0
pydot==1.4.2
Pygments==2.18.0
pynguin==0.19.0
pyparsing==3.1.2
pytest==7.4.4
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==12.6.0
simple-parsing==0.0.18
six==1.16.0
termcolor==2.4.0
typing-inspect==0.9.0
typing_extensions==4.11.0
urllib3==2.2.1
